{% extends "layouts/base_checkout.html" %}

{% block datalayer %}
<script>
    const items = JSON.parse('{{ cart|safe }}')
    gtag('event', 'view_cart', {
        value: 24,
        ...items
    })
</script>
{% endblock %}

{% block title %}Cart{% endblock %}

{% block left %}
<div class="card shadow-sm">
    <div class="card-body">
        <div class="list-group">
            {% for i in "123"|make_list %}
            <div class="list-group-item list-group-item-action p-4 d-flex justify-content-between align-items-center">
                <a href="{% url 'article' i %}" class="fw-bold">Article {{ i }}</a>
                <remove-from-cart-button item-id="{{ i }}" :key="i" />
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block right %}
<div class="card shadow-sm">
    <div class="card-body">
        <a id="cta-shipping" href="{% url 'shipping' %}" class="btn btn-lg btn-primary btn-block btn-rounded shadow-none">
            Passer à la caisse
        </a>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script id="remove" type="text/x-template">
    <button type="button" class="btn btn-sm btn-rounded btn-danger shadow-none" @click="handleRemoveFromCart">
        <i class="fa-solid fa-trash"></i>
    </button>
</script>
{% endblock %}

{% block vuejs_components %}
<script>
    const RemoveFromCartButton = {
        name: 'RemoveFromCartButton',
        template: '#remove',
        props: {
            itemId: {
                type: String
            }
        },
        methods: {
            async handleRemoveFromCart () {
                try {
                    const response = await this.$http.post("{% url 'cart_remove' %}", { id: this.itemId })
                    if (response.data.state) {
                        gtag('event', 'remove_from_cart', {
                            value: 134,
                            items: [
                                {
                                    index: 0,
                                    item_id: 'SKU_12345',
                                    item_name: 'Stan and Friends Tee',
                                    price: 9.99,
                                    quantity: 1
                                }
                            ]
                        })
                    }
                } catch (e) {
                    console.error(e)
                }
            }
        }
    }

    app.component('RemoveFromCartButton', RemoveFromCartButton)
</script>
{% endblock %}
