{% extends "base_site.html" %}
{% load cache %}

{% block datalayer %}
<script>
    const articles = JSON.parse('{{ serialized_articles|safe }}');
    gtag('event', 'view_items_list', {
        item_list_id: 1,
        item_list_name: 'Insigths',
        items: articles
    })
</script>

<script>
    const selectArticle = function (index, id) {
        gtag('event', 'select_item', {
            event: 'select_item',
            index: index,
            item_id: id,
            item_name: null,
            item_category: 'article',
            item_list_id: 1,
            item_list_name: 'Insights',
            items: articles[index]
        })
    }
</script>
{% endblock %}

{% block title %}Articles{% endblock %}

{% block container %}
<section class="articles my-5">
    <div class="row">
        {% for article in articles %}
        <article class="col-md-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h5>
                        <a onclick="selectArticle('{{ forloop.counter }}', '{{article.id}}')" href="{% url 'article' article.id %}">
                            {{ article.title }}
                        </a>
                    </h5>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
