{% extends "base_site.html" %}

{% block title %}Home{% endblock %}

{% block container %}
    <section class="my-5">
        <div class="col-md-4 offset-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{% url 'articles' %}" id="link-see-articles" class="btn btn-lg btn-primary">
                        Articles
                    </a>
                </div>
            </div>

            <form id="payment" class="card my-2" action="{% url 'purchase' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <input type="text" autocomplete="cc-number" placeholder="Card number" class="form-control">
                    <div class="d-flex justify-content-between gap-2 my-2">
                        <input type="text" autocomplete="cc-exp" placeholder="Expiry" class="form-control">
                        <input type="text" autocomplete="cc-csc" placeholder="CSC" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-rounded btn-primary mt-3 btn-block">Payer</button>
                </div>
            </form>

            <form id="newsletter" class="card" method="post" action="{% url 'subscribe' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control mb-2">
                    <button type="submit" class="btn btn-rounded btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
